@font-face {
font-family: ArialGreek;
src: url('Arial_Greek.ttf'),
     url('Arial Greek.eot');
}
html {
    background-color: hsl(0, 0%, 95.69%);
    color: hsl(0, 10%, 30%);
    margin: 0 auto;
    font-family: ArialGreek;
}
ul.inline > li {
    display: inline;
    padding-left: 20px;
    color: hsl(0, 10%, 50%);
}
.inline {
    padding-left: 100px;
}
#headerdiv {
    margin: 0 auto;
    display: block;
    letter-spacing: .5px;
    text-align: center;
    padding-top: 10px;
}
#headerdiv > * {
    display: inline-block;
    text-align: center;
}
.postheader {
    text-align: center;
}
.blogpost {
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: hsl(0, 8%, 26%);

}
.postdate {
    text-align: center;
    color: hsl(0, 0%, 72%);
    padding-bottom: 5px;
    margin: auto;
}
button {
    margin: auto;
    display: block;
    background-color: hsl(202, 50%, 53%);
    color: white;
    padding: 5px 25px;
    font-size: medium;
    border-radius: 4px;
}
.blogheader {
    padding-right: 100px;
}
img {
    display: inline-block;
}
.inlinesub > * {
    display: inline;
    padding-right: 15px;
    color: hsl(0, 10%, 50%);
}
.inlinesub {
    padding: 0;
}
.copyright {
    text-align: center;
}